.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.head_bg1 {
  position: absolute;
  left:0;
  top:0;
  width:1440px;
  height:828px;
  z-index: 1;
}

.head_bg2 {
  position: absolute;
  left:0;
  top:0;
  width:1440px;
  height:828px;
  z-index: 3;
}

.head_words {
  position: absolute;
  width: 920px;
  height: 310px;
  left: 110px;
  top: 203px;

  background: #F8F8F8;
  opacity: 0.9;
  border-radius: 52px;
  z-index: 2;
}

.head_font {
  position: absolute;
  width: 792px;
  height: 200px;
  left:64px;
  top:55px;

  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 100px;
  /* or 167% */

  letter-spacing: 5px;

  color: #6246E4;
}